$primary_main: #ff9800;
$primary_dark: #f57c00;
$primary_light: #ffb74d;

$secondary_main: #00b0ff;
$secondary_dark: #0091ea;
$secondary_light: #40c4ff;

$error: #f44336;
$medium_spring_green: #00fa9a;
$primary_contrast: rgba(0, 0, 0, 0.87);
