.ThemedTextField {
  display: block !important;
}

.ThemedTextField__input {
  font-size: 13px !important;
}

.ThemedTextField__label {
  font-size: 13px !important;
}

.ThemedTextField__helper {
  font-size: 11px !important;
  margin: 3px 0 !important;
}
